#toggle i {
    font-size: 3rem;
    color: rgb(30,30,30)
}
#toggle p {
    width: 75px;
    margin: 10%;
}
@media only screen and (max-width: 425px) {
    div p {
        display: none;
    }

    #toggle i {
        font-size: 2rem;
    }
}
