main {
    max-width: 1024px;
    margin: auto;
    border: 1px solid black;
    overflow: scroll;
}

#posts {
    clear: both;
    width: 90%;
    margin: auto;
}

@media only screen and (min-width: 660px) {
    
    #posts {
        clear: none;
        float: left;
        width: 60%;
        margin: auto;
    }
}