header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 75px;
}
header div {
   display: flex;
   align-items: center;
}
header img {
    width: 50px;
}
header a {
    text-decoration-line: none;
    color: inherit;
}
@media only screen and (max-width: 425px) {
    header h1 {
        display: none;
    }
}