#searchBar {
    height: 40px;
    color: black;
    background-color: whitesmoke;
}
#searchBar input {
    border:transparent;
    background-color: whitesmoke;
    height: 30px;
}
#searchBar input:focus {
    outline: none;
}
.fa-search{
    opacity: 0.4;
    font-size: 1.25rem;
}
.fa-times-circle {
    font-size: 1.25rem;
}
@media only screen and (min-width: 660px) {
    #searchBar input{
        width: 300px;
    }
}

