#subReddits {
    float: right;
    margin: 5%;
    margin-left: 0%;
    display: flex;

}
#subReddits h1 {
    margin: 5%;
    text-align: center;
}
.selectForm {
    width: 200px;
    height: 50px;
    padding-left: 5%;
    cursor: pointer;
}
.selectOption {
    text-align: center;
}

@media only screen and (min-width: 660px) {
    #subReddits {
        display: block;
    }
}